*.ini
video_aulas/Projeto_de_Desenvolvimento_de_Algorismos_Aula_01.mp4
video_aulas/Projeto_de_Desenvolvimento_de_Algorismos_Aula_10.webm
video_aulas/Projeto_de_Desenvolvimento_de_Algorismos_Aula_13.webm
video_aulas/Projeto_de_Desenvolvimento_de_Algorismos_Aula_14.mp4
video_aulas/Projeto_de_Desenvolvimento_de_Algorismos_Aula_14.webm
video_aulas/Projeto_de_Desenvolvimento_de_Algorismos_Aula_15.mp4
video_aulas/Projeto_de_Desenvolvimento_de_Algorismos_Aula_15.webm
video_aulas/Projeto_de_Desenvolvimento_de_Algorismos_Aula_01.webm
